.fixNav{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000000;
}
.cart-body{
	z-index:999;
}
.inner-header{
	background-color: #ffffff
}
.inner-title,.beta-breadcrumb, .beta-breadcrumb a{
	color: black
}
ul.navbar-nav> li> a{
	color: #fff !important;
}
.navbar-default .navbar-nav > .active{
    color: #000;
    background: #f4a442;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background: #f4a442;
}
